.blog-post-editor__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: rgb(0 0 0 / 40%);
}

.blog-post-editor__container {
  position: relative;
  width: 900px;

  margin: 32px auto 0;
  padding: 8px 0 48px 0;

  border-radius: 8px;
  background: white;
}

.blog-post-editor__close-button {
  position: absolute;
  top: -10px;
  right: 16px;

  cursor: pointer;
}

.blog-post-editor__title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 16px;
  padding-top: 16px;
}

.blog-post-editor__title-text {
  font-size: 18px;
  font-weight: bold;

  margin-right: 16px;
}

.blog-post-editor__title-input {
  font-size: 18px;
}

.blog-post-editor__editor-container {
  width: 800px;
  height: 600px;

  margin: auto;
}

.blog-post-editor__button {
  font-size: 20px;

  margin-top: 36px;
}